{% extends "base.html" %}
{% load uninotes_extras %}
{% block page_title %}Saisie des notes{% endblock %}
{% block page_subtitle %}{{ module_choisi.module_catalogue.intitule }}{% endblock %}
{% block content %}

{% if user.profile.role != 'etudiant' %}
    {% include "notes/saisie_notes/acces_refuse.html" %}
{% else %}
<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <div class="lg:col-span-2 space-y-6">
        {% include "notes/saisie_notes/formulaire.html" %}
    </div>
    <div class="space-y-6">
        {% include "notes/saisie_notes/sidebar.html" %}
    </div>
</div>
{% endif %}

{% endblock %}