{% extends "base.html" %}
{% block page_title %}Catalogue &amp; Inscription{% endblock %}
{% block page_subtitle %}Composez votre panier sous la contrainte des 60 points{% endblock %}
{% block content %}

{% if user.profile.role != 'etudiant' %}
    {% include "inscription/panier/acces_refuse.html" %}
{% elif inscription.statut == 'ouverte' %}
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-8 fade-in">
        {% include "inscription/panier/jauge.html" %}
        <div class="lg:col-span-2">
            {% include "inscription/panier/panier_modules.html" %}
        </div>
    </div>
    {% include "inscription/panier/catalogue.html" %}
    {% if suggestions %}
        {% include "inscription/panier/suggestions.html" %}
    {% elif points_restants > 0 and modules_disponibles %}
        {% include "inscription/panier/pas_de_suggestions.html" %}
    {% endif %}
{% else %}
    {% include "inscription/panier/verrouillee.html" %}
{% endif %}

{% endblock %}